{% extends 'datum/base.html' %}

{% block content %}

    <h2><a href="{% url 'postit_list' %}">Inbox</a></h2>
    Inbox Count: {{ inbox_count }}
    <h2><a href="{% url 'action_list' %}">Next Actions</a></h2>
    <p><a href="{% url 'action_list' %}?subset=Overdue">Overdue Actions</a></p>
    <p><a href="{% url 'action_list' %}?subset=Snoozed">Snoozed Actions</a></p>
    <a href="{% url 'action_list' %}?subset=Starred">Starred Actions</a> Count: {{ starred_actions_count}}
    <p>Top 5 prioritized actions:</p>
    {% for action in top_prioritized_actions %}
        <div>
            <a href="{% url 'action_detail' pk=action.pk %}">{{ action.title }}</a>
        </div>
    {% endfor %}
    <h3><a href="{% url 'log_list' %}">Log Book</a></h3>
    <h2>Starred Tags</h2>
    {% for tag in starred_tags %}
        <div>
            <a href="{% url 'tagged_items' slug=tag.slug %}">{{ tag.name }}</a>
        </div>
    {% endfor %}


{% endblock %}