{% extends 'datum/base.html' %}

{% block content %}
    <div class="information">
        {% if information.created_date %}
            <div class="date">
                {{ information.creation_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        	<a class="btn btn-default" href="{% url 'generic_update' pk=information.pk modelname='information' %}">Edit</a>
        {% endif %}
        <h2>{{ information.title }}</h2>
        <p>{{ information.text|linebreaksbr }}</p>
        <p>{{ information.tags }}</p>
    </div>
{% endblock %}